.bodyClass{
    background-image:url('/7.png');
    overflow: hidden;
}
.background{
    background: rgba(0, 0, 0, 0.7);
    overflow: hidden;
}
.white{
    color: rgb(228, 228, 228)
}
.customul{
    list-style-type: none;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
}
.navbar{
    margin: 0;
    padding: 0;
    height: 75px;
    background-color: green;
    overflow: hidden;
}
.active{
    color: green;
    background-color: green;
}
.button:hover{
    color: pink;
}